html {
    /* font-size: 3vw; */
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    margin: 0;
    box-sizing: border-box;
}
header {
    font-family: Cinzel, serif;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #003366;
    color: white;
    height: 60px;
    /* padding-left: 15px; */
    padding-right: 15px;
    z-index: 5;
}
a {
    margin-right: 15px;
}
.logo {
    height: 82px;
}
nav {
    display: flex;
    height: 55px;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
}
.navbar--left-side {
    display: flex;
}
.navbar--right-side {
    align-self: center;
    font-family: 'Roboto', sans-serif;
}
.navbar--headings {
    align-self: center;
}
a {
    color: white;
    text-decoration: none; 
}
#mobile-menu {
    display: none;
}
h5 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}

h6 {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

input {
    line-height: 2;
}

main {
    padding-top: 95px;
}

.mb-emblem {
    height: 150px;
}

.main--grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.center {
    text-align: center;
}

.rounded-border {
    border-radius: 25px;
}

.mb-blocks {
    padding: 25px;
    background-color: white;
    z-index: 0;
}

.badges--page-title {
    font-family: 'Roboto Slab', serif;
    color: white;
    position: relative;
    top: 95px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

h4 {
    font-size: 24px;
    margin: 0;
}

.home--background {
    background-image: url(../images/sep-campout-farm-mechanics-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.home--background::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    min-height: 100vh;
}

.home--main--name-and-date {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', serif;
    color: white;
    width: 100%;
}

.home--main--name-and-date > h1 {
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.wrapper {
    position: relative;
}

.content {
    color: #fff;
    font-size: 1em;
    padding: 1em;
}

.content span {
    font-size: .75em;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #003366;
    border-radius: 25px;
    width: 100%;
    height: 0;
    transition: .5s ease;
    overflow: hidden;
    margin: 0;
}

.wrapper:hover .overlay {
    height: 100%;
}

h1 {
    font-size: 4em;
}

.nav--search-button {
    margin: 0;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: blue;
    color:white;
    line-height: 2;
}

.nav--search-box {
    border: 0;
}

/* Code for Responsive NavBar*/

.container {
    /*   border: 2px solid red; */
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .titles {
    /*   border: 2px solid green; */
  }
  
  header {
    background-color: #05004e;
    padding: 0.8em 0;
    box-shadow: 2px 2px 10px #f1f6f9;
  }
  
  /* navbar */
  
  nav ul {
    /*   border: 2px solid yellow; */
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-left: 2em;
  }
  
  nav a {
    text-decoration: none;
  }
  
  nav a:hover,
  nav a:focus {
    color: #fd5f00;
  }
  
  @media (max-width: 640px) {
    .container {
      text-align: center;
    }
  
    .container-nav {
      flex-direction: column;
    }
    .nav {
        display: flex;
        flex-direction: column;
    }
    .navbar--right-side {
        display: flex;
        flex-direction: column;
        background-color: #05004e;
    }
    
    .main--grid-container {
        display: flex;
        flex-direction: column;
    }
    .badges--page-title {
        display: none;
    }
    .nav--search-box {
        display: none;
    }
    .nav--search-button {
        display: none;
    }

  }

    /* End of Responsive NavBar */

/*
    Modification of code from codepen.io
    Name: Event program using CSS Grid
    Creator: Liquid Light
    Link: https://codepen.io/liquidlight/pen/KjvgMQ
*/

.flexContainer {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.scheduleContainer {
    display: grid;
    column-gap: 0.2rem;
    grid-template-columns: 5rem repeat(3, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-template-areas: 
        "room-header period-1-header period-2-header period-3-header"
        "hr101 stage stage stage"
        "hr102 stage stage stage"
        "hr103 stage stage stage"
        "hr104 stage stage stage"
        "hr105 stage stage stage"
        "hr106 stage stage stage"
        "hr107 stage stage stage"
        "hr108 stage stage stage"
        "hr109 stage stage stage"
        "hr110 stage stage stage"
        "hr111 stage stage stage"
        "hr112 stage stage stage"
        "hr113 stage stage stage"
        "hr114 stage stage stage"
    ;
}

.room {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: thin dotted #ccc;
    height: 100%;
    padding: 0 0.5rem;
}

.room-header,
.period-1-header,
.period-2-header,
.period-3-header {
    text-align: center;
    align-self: flex-end;
    color: white;
    background-color: #003366;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.room-header {
    grid-area: room-header;
}

.period-1-header {
    grid-area: period-1-header;
}

.period-2-header {
    grid-area: period-2-header;
}

.period-3-header {
    grid-area: period-3-header;
}

.room.hr101 {
    grid-area: hr101;
}

.room.hr102 {
    grid-area: hr102;
}

.room.hr103 {
    grid-area: hr103;
}

.room.hr104 {
    grid-area: hr104;
}

.room.hr105 {
    grid-area: hr105;
}

.room.hr106 {
    grid-area: hr106;
}

.room.hr107 {
    grid-area: hr107;
}

.room.hr108 {
    grid-area: hr108;
}

.room.hr109 {
    grid-area: hr109;
}

.room.hr110 {
    grid-area: hr110;
}

.room.hr111 {
    grid-area: hr111;
}

.room.hr112 {
    grid-area: hr112;
}

.room.hr113 {
    grid-area: hr113;
}

.room.hr114 {
    grid-area: hr114;
}

.period {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background-color: orange;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.4;
}

.period.period-1 {
    background-color: #d6cebd;
}

.period.period-2 {
    background-color: #9ab3d5;
}

.period.period-3 {
    background-color: #e9e9e4;
}

.period.hr101 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.period.hr114 {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
/*
    End of modified code from Liquid Light
*/